.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  background-color: #334155;
  color: white
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #94a3b8;
  color: black;

  margin: 10px;
  margin-inline: 30%;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  gap: 5px;
}
.header :first-child {
  font-size: 36px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  
  width: 75%;
  height: 65%;

  padding: 2%;
  
  gap: 25px;
  border: 1px solid black;

  background-color: #94a3b8;
  border: 1px solid;
  border-radius: 8px;;
  color: black;
}
.score {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  width: 100%;
    
}
.score > div {
  display: flex;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 150px;
  height: 200px;

  background-color: white;
  border: 1px solid white;
  border-radius: 6px;

  transition: .2s;
}
.card >img {
  width: auto;
  height: 75%;
  padding-top: 10%;
}
.card > div {
  width: 100%;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.card:hover {
  box-shadow: 0px 0px 10px 1px#475569;
  transition: .2s;
}

